################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/.vs
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/dockertemplate/v15/.suo
/.vs/dockertemplate/v15
/.vs
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
